body{
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(30, 30, 30);
  margin: 0;
  padding: 0;
}
table, tbody, tr, td{
  text-align: center;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  display: inline;
  margin: 0 10px;
  text-align: center;
}
pre{
  white-space: normal;
}
.yellow-table-cell{
  background: #FFFFDB;
  padding: 30px 0 !important;
}
.main-nav-anchor{
  text-decoration: none;
  color: #8c6eff;
  border: 1px solid #8c6eff;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 2;
  margin: 0 10px;
}
.main-page-navigator{
  padding: 0 20px;
  text-align: right;
}
.small-nav{
  text-align: center;
}
.main-content-table{
  border: 50px solid rgb(240, 240, 240);
}

.footer-table-cell{
  background: rgb(240, 240, 240);
}

td.center-table-cell{
  text-align: center;
  padding: 10px 0;
}

#introPicture{
  border: 6px dashed #8c6eff;
}

div.large-image-wrapper{
  position: relative;
  text-align: center;
  background-color: #fff;
}
.header-content{
  margin: 0 20px;
}
.header-title{
  text-align: left;
  margin: 30px;
}
.border-bottom-cell{
  border-bottom: 5px solid rgb(240, 240, 240);
}
.border-right-cell{
  border-right: 1px solid rgb(220, 220, 220);
}
.home-nav{
  width: 40px;
  vertical-align: middle;
  background: #8c6eff;
  color: #fff;
  margin: 0 auto;
}
.home-img{
  margin: 5px 0;
}
.header-second-line{
  display:block;
  margin: 5px 0 5px 60px
}
.text-container{
  text-align:left;
  padding:30px;
}
.paragraphs-container{
  padding:20px;
}

.grey-border-bottom{
  border-bottom: 5px solid rgb(240, 240, 240);
}

.code-block{
  text-align: left;
  padding: 20px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(220, 220, 220);
}
.super-anchor{
  background: #8c6eff;
  color: #fff;
  width: auto;
  height: auto;
  padding:10px 50px;
  margin: 20px;
}
.image-cell{
  background-color: rgb(30, 30, 30);
  background-position: center;
  background-repeat: no-repeat;
}
.image-cell-now{
  background-image: url(assets/photos/journey.jpeg); /* Downloaded from: https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=200&q=80&cs=tinysrgb */
}
.image-cell-past{
  background-image: url(assets/photos/mountain.jpeg); /* Downloaded from: https://images.unsplash.com/photo-1469521669194-babb45599def?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=200&q=80&cs=tinysrgb */
}
.image-cell-future{
  background-image: url(assets/photos/black-white-city.jpg); /* Download from: https://images.unsplash.com/25/black-white-city.jpg?dpr=2&auto=format&crop=entropy&fit=crop&w=200&q=80&cs=tinysrgb */
}
.image-cell-comments{
  background-image: url(assets/photos/code.jpeg); /* Download from: https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=200&q=80&cs=tinysrgb */
}
